<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwqaq.msgwebhook">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.qwqaq.msgwebhook.ContextUtil">
        <!-- 上面 加那个 android:name 是为了能够全局获取到程序的 Context -->
        <!-- 主 Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- SMS 监测 -->
            <!--<receiver android:name=".SMSReceiver">
                <intent-filter android:priority="1000">
                    <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                </intent-filter>
            </receiver>-->
        </activity>
        <!-- 登录 Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/login">
        </activity>
    </application>
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
</manifest>